body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: rgb(113, 131, 158);
    color: rgb(248, 244, 244);
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

form{
    position: relative;
    padding: 20px;
    margin: 120px auto;
    background-color: #2e647c;
    border: 10px solid #000;
    border-radius: 5px;
    width: 50%;
}


.form-style{
    display: block;
    color: #0c0c0c;
    background-color: #cbd2dd;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lab{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="date"]{
    padding: 10px;
    border: 1px solid #050505;
    border-radius: 5px;
    width: 50%;
}

textarea{
    padding: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 60%;
}

.response-style{
    justify-content: space-between;
    font-weight: bold;
}

select{
    width: 150px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px solid #000;
}

input[type="submit"]{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2e4377;
}

input[type="reset"]{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="reset"]:hover{
    background-color: #2e4377;
}
